<h2 class="calendar-title"><%= @date.strftime("%Y年 %m月") %></h2>

<div class="calendar-nav">
  <%= link_to "〈 前の月", calendar_posts_path(month: (@date - 1.month).to_s), class: "btn btn-light" %>
  <%= link_to "次の月 〉", calendar_posts_path(month: (@date + 1.month).to_s), class: "btn btn-light" %>
</div>

<table class="calendar-table">
  <thead>
    <tr>
      <% %w(日 月 火 水 木 金 土).each do |day| %>
        <th><%= day %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% calendar(@date, @posts).each do |week| %>
      <tr>
        <% week.each do |day| %>
          <% classes = [] %>
          <% classes << "other-month" if day.month != @date.month %>

          <td class="<%= classes.join(" ") %>">
            <div class="day-number"><%= day.day %></div>

            <%# ▼ 投稿がある日だけスタンプ画像を表示 %>
            <% if @posts.any? { |p| p.created_at.to_date == day } %>
              <%= image_tag "kareha.PNG", class: "calendar-stamp" %>
            <% end %>

          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>